jobs:
  - job: doc_test
    pool:
      vmImage: ubuntu-latest
    
    steps:
      - bash: |
          python3 -m venv .venv
          source .venv/bin/activate
          python tools/pipstrap.py
          for x in */docs
          do
            echo ""
            echo "##[group]Building $x"
            pip install -qq -e $x/..[docs]
            sphinx-build -EW --keep-going -b html $x $x/_build/html
            echo "##[endgroup]"

          done
        displayName: Build Sphinx Documentation